body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
}

.botonsalir {
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
}

    .botonsalir:hover {
        background: rgba(0, 0, 0, 0.7);
    }

.navbar-brand {
    height: 60px;
}
.profilebox1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 500px;
    height: 310px;
    padding: 12px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}
.nav-item {
    top: 50%;
    height: 40px;
    text-align: center;
}



.lblReport {
    color: #bbe1fa;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.pqrsbox {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 400px;
    padding: 15px 40px;
    box-sizing: border-box;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans',sans-serif;
}

.dropReport:hover, .txtReport {
    background: rgba(0,0,0,0.2);
}

.dropReport, .txtReport, .btnEnviar {
    width: 100%;
    margin-bottom: 15px;
}

.dropReport, .txtReport {
    resize: none;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 35px;
    color: #000000;
    font-size: 16px;
    background-color: transparent;
    font-family: 'Open Sans',sans-serif;
}

.btnEnviar {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #19bb43;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    font-family: 'Open Sans',sans-serif;
}

    .btnEnviar:hover {
        background-color: #d0793f;
    }

footer {
    position: absolute;
    top: 110%;
    height: 120px;
    width: 100%;
}