body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 50% -20.71%, #ffffb4 0, #fffab0 10%, #ffecad 20%, #ffdca9 30%, #ffcba4 40%, #f2b99d 50%, #dca896 60%, #c79a8f 70%, #b68e89 80%, #a68583 90%, #9a7d7e 100%);
    background-size: cover;
}

.botonsalir {
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
}

    .botonsalir:hover {
        background: rgba(0, 0, 0, 0.7);
    }
.navbar-brand {
    height: 60px;
}

.nav-item {
    top: 50%;
    height: 40px;
    text-align: center;
}


.profilebox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-22%);
    width: 920px;
    height: 760px;
    padding: 15px 40px;
    box-sizing: border-box;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 55px;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: Bahnschrift Condensed;
}

.navbar-brand {
    height: 60px;
}

.nav-item {
    top: 50%;
    height: 40px;
    text-align: center;
}


.lbl {
    color: #bbe1fa;
    font-family: Bahnschrift Condensed;
    font-weight: bold;
    font-size: 18px;
}


.txtRem, .txtCorreo, .txtfechaNac, .txtGen, .txtDoc, .txtFec {
    background: rgba(0,0,0,0.2);
}


.txtRem, .txtCorreo, .txtfechaNac, .txtGen, .txtDoc, .txtFec {
    width: 45%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    font-family: Bahnschrift Condensed;
}

    .btnCambiar {
        border: none;
        outline: none;
        height: 40px;
        font-weight: bold;
        font-size: 18px;
        color: #fff;
        background: linear-gradient(180deg, #ee3939 0%, #ff9900 49%, #1838a0 50%, #57a5ce 100%);
        background-size: 1px 100px;
        transition: all .3s;
        cursor: pointer;
        border-radius: 20px;
    }

    .btnCambiar:hover {
        background-position: 0 -50px;
        transition: all .3s;
    }

.btnSubmit {
    border: none;
    outline: none;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(180deg, #04AA6D 0%, #00ff21 49%, #191818 50%, #57a5ce 100%);
    background-size: 1px 100px;
    transition: all .3s;
    cursor: pointer;
    border-radius: 20px;
}

    .btnSubmit:hover {
        background-position: 0 -50px;
        transition: all .3s;
    }

.txtMsg, .txtRes {
    resize: none;
    width: 100%;
}


footer {
    position: absolute;
    top: 150%;
    height: 120px;
    width: 100%;
}