

.botonsalir {
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
}

    .botonsalir:hover {
        background: rgba(0, 0, 0, 0.7);
    }

.boxPqrs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-35%);
    width: 970px;
    height: 762px;
    padding: 15px 40px;
    box-sizing: border-box;
    font-size: 20px;
    background: rgba(0,0,0,0.5);
    margin-bottom: 55px;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    font-family: Bahnschrift Condensed;
}

.navbar-brand {
    height: 60px;
}

.nav-item {
    top: 50%;
    height: 40px;
    text-align: center;
}


.lbltipo,
.lblIdU,
.lblId,
.lblRem,
.lblCorreo,
.lblFec,
.lblDesc,
.lblRes {
    color: #bbe1fa;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    font-size: 21px;
}


.txtId, .txtIdU, .txtTipo, .txtRem, .txtCorreo, .txtFec {
    background: rgba(0,0,0,0.2);
}

.txtRem, .txtCorreo, .txtFec, .btnEnviar {
    width: 100%;
    margin-bottom: 15px;
}

.txtId, .txtIdU, .txtTipo {
    width: 25%;
    margin-bottom: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 35px;
    font-size: 16px;
    background-color: transparent;
    font-family: Bahnschrift Condensed;
    color: #fff;
    text-align: center;
}

.txtRem, .txtCorreo, .txtFec {
    resize: none;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 35px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
}

.btnEnviar {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #639390;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    font-family: Montserrat, sans-serif;
}

    .btnEnviar:hover {
        background-color: #426361;
    }

.txtDesc, .txtRes {
    resize: none;
    width: 100%;
}


footer {
    position: absolute;
    top: 150%;
    height: 120px;
    width: 100%;
}
