body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle at 50% -20.71%, #ffffb4 0, #fffab0 10%, #ffecad 20%, #ffdca9 30%, #ffcba4 40%, #f2b99d 50%, #dca896 60%, #c79a8f 70%, #b68e89 80%, #a68583 90%, #9a7d7e 100%);
    background-size: cover;
}



.navbar-brand {
    height: 60px;
}

.nav-item {
    top: 50%;
    height: 40px;
    text-align: center;
}



.botonsalir {
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    text-align: center;
    border-left: 5px;
    border-right: 5px;
}

    .botonsalir:hover {
        background: rgba(0, 0, 0, 0.7);
    }

.boxVacuna {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 600px;
    height: 1083px;
    padding: 12px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}


.lbl {
    font-weight: bold;
    color: #273c3b;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
}

.txt {
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Open Sans',sans-serif;
}

.btnSubmit {
    width: 48%;
    margin-bottom: 15px;
    font-family: Bahnschrift Condensed;
}


.txt{
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 35px;
    color: cornsilk;
    font-size: 24px;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
}


.btnSubmit {
    border: none;
    outline: none;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    width: 100%;
    background: #014154;
    background-size: 1px 100px;
    transition: all .3s;
    cursor: pointer;
    border-radius: 20px;
}

    .btnSubmit:hover {
        background-color: #426361;
    }
